@import "tailwindcss";

.blob {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 40%;
  filter: blur(100px);
  opacity: 0.7;
  animation: blobMove 20s infinite ease-in-out alternate;
}

@keyframes blobMove {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(50px, -80px) scale(1.2);
  }
  66% {
    transform: translate(-100px, 100px) scale(0.8);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
@keyframes pop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: pop 1.2s ease forwards;
}

/* Wave BG */
.wave {
  animation: waveMove 20s linear infinite;
}

.wave1 { animation-delay: 0s; }
.wave2 { animation-delay: -5s; }
.wave3 { animation-delay: -10s; }

@keyframes waveMove {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
